
.register__sub-navigation {
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
*, :after, :before {
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}

.register__sub-navigation .line {
    margin-bottom: -50px;
    margin-top: 50px;
}

.register__sub-navigation .icons {
    font-size: .75rem;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
}


.register__sub-navigation .icons a.active {
    font-weight: 500;
    color: #000;
}

.icons a {
    font-size: 1.25rem;
    color: #718096;
    font-weight: 300;
}

.active {
    border-color: #b0c999;
}

.register__sub-navigation .icons a.active .icon {
    margin-top: 0;
    background-size: 83px;
    height: 90px;
}
.register__sub-navigation .icons a.active .icon {
    margin-top: 0;
    background-size: 83px;
    height: 90px;
}
.register__sub-navigation .icons .icon {
    background-position: 50%;
    background-repeat: no-repeat;
    margin-top: .75rem;
    background-image: url(../../assets/img/introductions.fdcd6857.png);
    background-size: 63px;
    height: 70px;
}

.register__sub-navigation .icons a span {
    display: inline-block;
    margin-top: .25rem;
}
.register__sub-navigation .line div {
    border-top-width: 1px;
    border-color: #e2e8f0;
}
.register__sub-navigation .line div:first-child, .register__sub-navigation .line div:last-child {
    border-color: #fff;
}

.input {
    width: 100%;
    padding-left: .75rem;
    padding-right: .75rem;
    margin-bottom: .75rem;
}

.input__checkbox-label, .input__label, .input__radio-label {
    line-height: 32.5px;
    font-family: gillsans;
    display: block;
    letter-spacing: .025em;
    color: #000;
    margin-top: 0;
    margin-bottom: .25rem;
    width: 100%;
    font-weight: 200;
    font-size: 1rem;
    text-align: left;
}
.input__dropdown, .input__field, .input__textarea {
    padding-top: .86rem;
    padding-bottom: .64rem;
    line-height: 32.5px;
    font-family: gillsans;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    border-width: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
    color: #000;
    border-radius: 0;
    font-weight: 200;
    font-size: 1rem;
    border-color: #707070;
}
.btn--hoverable {
    margin-top: .25rem;
}
.btn--primary, .theIntroductions-hero__cta {
    color: #fff;
    background-color: #5ab5d9;
    border-color: #5ab5d9;
}
.btn--hoverable.btn--primary:hover, .btn--hoverable.theIntroductions-hero__cta:hover {
    background-color: #5ab5d9;
}
.btn--primary:hover, .theIntroductions-hero__cta:hover {
    background-color: #5d9db7;
    border-color: #5d9db7;
}
.btn--hoverable:hover {
    margin-top: 0;
    margin-bottom: .25rem;
    border-bottom-width: 8px;
}
.btn, .theIntroductions-hero__cta {
    font-weight: 400;
    font-family: gillsans;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: inline-block;
    border-radius: .5rem;
    -webkit-transition: all .15s ease;
    -o-transition: all .15s ease;
    -moz-transition: all .15s ease;
    transition: all .15s ease;
    min-width: 300px;
    max-height: 50px;
}

@media screen and  (min-width: 768px) {
    .btn, .theIntroductions-hero__cta {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
