.main {
    padding-top: 25px;
    width: 100%;
}
body{
    height: 3rem;
    z-index: 99;
    background-image: url('https://www.freddiesflowers.com/img/bg%E2%80%93paper.d7a468e6.jpg');
}
.hover-view{
    cursor: pointer;
}